<nav>
  <div class="site-title">
    <a href="/">Blog Ninja</a>
    <p href="/">A Net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
